.players-widgets-class {
    font-style: italic;
}
.winamp {
    display: inline;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    border-style: none;
    margin: 0px;
    padding: 0px;
    width: 354px;
    height: 161px;
    z-index: 2;
}
.winamp-head{
    height: 17px;
}
.winamp-head_r{
    float: right;
}
.winamp-head_l{
    float: left;
}
.winamp-head_c{
    margin: 0px 10px;
    height: 17px;
    text-align: center;
    position: relative;
}
.winamp-head_c-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    height: 17px;
}
.winamp-head_c-img{
    position: inherit;
    z-index: 2;
}
.winamp-body{
    clear: both;
    border-width: 0px;
    border-style: none;
    border-color: initial;
    background-color: transparent;
    overflow: hidden;
    width: 354px;
    height: 144px;
}
.winamp-repeat{
    position: absolute;
    top: 59px;
    left: 337px;
    display: none;
}
.winamp-random{
    position: absolute;
    top: 82px;
    left: 337px;
    display: none;
}

.winamp-vol{
    position: absolute;
    top: 119px;
    left: 201px;
}
.winamp-vol_slider{
    position: absolute;
    top: 17px;
    left: 0px;
}
.winamp-vol_handle{
    position: absolute; top: 10px; left: 34px; font-size: 0px; width: 0px; height: 0px; cursor: pointer;
}
.winamp-vol_handle_img{
    position: absolute; top: 17px; left: 0px;
}
.winamp-seek{
    position: absolute; top: 89px; left: 16px;
}
.winamp-seek_slider{
    position: absolute; top: 0px; left: 0px;
}
.winamp-seek_handle{
    position: absolute; top: 5px; left: 0px; font-size: 0px; width: 0px; height: 0px; cursor: pointer;
}
.winamp-seek_handle_img{
    position: absolute; top: 0px; left: 0px;
}
.winamp-artist{ position: absolute; top: 50px; left: 23px; color: rgb(255, 255, 255); font-size: 10px; height: 11px; font-family: Arial; overflow: hidden; width: 274px;}
.winamp-title { position: absolute; top: 66px; left: 23px; color: rgb(255, 255, 255); font-size: 10px; height: 11px; font-family: Arial; overflow: hidden; width: 274px;}
.winamp-album { position: absolute; top: 82px; left: 23px; color: rgb(255, 255, 255); font-size: 10px; height: 11px; font-family: Arial; overflow: hidden; width: 274px;}
.winamp-bitrate { position: absolute; top: 50px; left: 251px; color: rgb(255, 255, 255); font-size: 10px; height: 11px; font-family: Arial;}


.btn focus{
    outline: -webkit-focus-ring-color auto 5px;
}

#winamp-vol_slider{
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 100px;
    position: absolute;
    height: 1px;
    background-color: #8e8d8d;
    background: url('../img/winamp/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
    0 1px 0 0px rgba(250, 250, 250, .5);
    left: 0px;
    top: 25px;
}

#winamp-vol_slider .volume {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    right: -5px;
    background: url('../img/winamp/volume.png') no-repeat 0 -50px;
    position: absolute;
    margin-top: -5px;
}
#winamp-vol_slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 14px;
    cursor: pointer;
    background: url('../img/winamp/vol_handle.gif') no-repeat 50% 50% !important;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    border: none;
    top: -6px;
    margin-left: -12px;
}
#winamp-vol_slider .ui-slider-range {
    background: #ffffff; /* Старые браузеры */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}

#winamp-seek_slider{
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 245px;
    position: absolute;
    height: 1px;
    background-color: #8e8d8d;
    background: url('../img/winamp/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
    0 1px 0 0px rgba(250, 250, 250, .5);
    left: 0px;
    top: 25px;
}

#winamp-seek_slider .seek {
    content: "";
    display: inline-block;
    width: 34px;
    height: 25px;
    right: -5px;
    background: url('../img/winamp/volume.png') no-repeat 0 -50px;
    position: absolute;
    margin-top: -5px;
}
#winamp-seek_slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 14px;
    cursor: pointer;
    background: url('../img/winamp/seek_handle.gif') no-repeat 50% 50% !important;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    border: none;
    top: -6px;
    margin-left: -12px;
}
#winamp-seek_slider .ui-slider-range {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
    background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}
